* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  main {
  max-width: 840px;
  margin: 0 auto;
}

aside {
  width: 20em;
  text-align: center;
}

aside img {
  width: 200px;
  height: auto;
}

aside h2 {
  position: absolute;
  top: 47px;
  left: 150px;
}

main img {
  width: 150px;
  height: auto;
  float: right;
}

p {
  padding: 0;
}

footer {
  margin-top: 15px;
  border-top: 1px solid #000;
  text-align: center;
}

/* Class Selectors */

.box {
  margin: 1rem;
  border: 1px solid rgb(0 0 0 / 10%);
  padding: 1rem;
  background-color: #ddd;
  color: #000;
}

