* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

nav {
  background-color: steelblue;
  padding: 10px;
}

nav a {
  color: white;
  padding: 10px;
  display: block;
}

h1 {
  color: steelblue;
  padding: 0.5rem;
}

main {
  max-width: 840px;
  margin: 0 auto;
}

aside {
  width: 20em;
  text-align: center;
  position: relative;
}

aside img {
  width: 200px;
  height: auto;
}

aside h2 {
  position: absolute;
  top: 35px;
  left: 125px;
}

main img {
  width: 150px;
  height: auto;
  float: right;
  border: 1px solid steelblue;
  padding: 2px;
  box-shadow: 0 0 30px gray;
}

p {
  padding: 0;
}

footer {
  margin-top: 15px;
  border-top: 1px solid #000;
  text-align: center;
}

/* Class Selectors */

.box {
  margin: 1rem;
  border: 1px solid rgb(0 0 0 / 10%);
  padding: 1rem;
  background-color: #ddd;
  color: #000;
}
